
<div class="buttons">
    <ul type="none">
        <li *ngFor="let moviename of movies">
           <a routerLink="/detail/{{moviename.id}}">
                <span>{{moviename.name}}  </span>
                <span>{{moviename.ReleaseYear}} </span>
           </a>
           <button type="button" (click)="delete(moviename)">Delete</button>
        </li>
    </ul>
    <label for="name">Movie Nmae:</label>
    <input type="text" #moviename placeholder="Type movie...">
    <button type="button" (click)="add(moviename.value) ; moviename.value='' ">Add</button>
</div>



